/* *{
    margin: none;
    padding: none;
} */
body{
background-color: hsla(0, 0%, 98%, 1);
color:  hsla(227, 12%, 61%, 1);
    font-family: "Be Vietnam Pro", sans-serif;
    font-weight: 500;
    line-height: 1.7;
}
 .hero{
    background-image: 
    url(https://crackerfactory64.github.io/Frontend-Mentor-Projects/manage-landing-page-master/images/bg-tablet-pattern.svg);
    background-size: 125%, 100%;
    background-repeat: no-repeat;
    background-position: right -8em top -6em, right -14em top 62.5vh;
}
.manage{
    display: block;
}

ul {
  list-style-type: none;
    display: flex;
    width: 100%;
  /* margin: 0;
  padding: 0; */
  /* background-color: blue; */
}
nav{
    background-color: yellow;
    align-items: center;
    display: flex;
    overflow: hidden;
    
    position: relative;
    padding-block: 3em;
}
a {
  display: block;
  padding: 8px;
  background-color: #dddddd;
}

li a{
 float: left;
font-weight: 700;
text-decoration: none;
color: white;
text-align: center;
}
li a:hover {
  background-color: grey;
}

button{
box-shadow: rgba(242, 95, 58, 0.5) 0px 0.75em 0.5em -0.37em;
width: 15%;
margin: auto
}